.acc-box {
    height: 100vh;
    width: 31vw;
    background: rgba(205, 246, 255, 0.85);
    overflow: hidden;
}

.acc-box h1  {
    font-family: 'Kaushan Script', cursive;
    color: #1e0839;
    font-size: 3vw;
    padding-top: 6vh;
    margin: 0;
    padding-left: 0.5vw;
}


.acc-box h2 {
    font-family: 'Kaushan Script', cursive;
    color: #1e0839;
    font-size: 30px;
    padding-top: 7vh;
    margin: 0;
    padding-left: 1vw;
}

@media screen and (max-width:1500px) {
    .acc-box {
        width:500px;
    }

    .acc-box h1 {
        font-size: 50px;
    }
}

.acc-box-container {
    display:inline;
    padding: 0;
    margin: 0;
}

.acc-box-container li {
    float: left;
    list-style-type: none;
    margin: 0;
}

.delimeter-col {
    height: 100vh;
    width: 3vw;
    background-color: #1e0839;
}

@media screen and (max-width:815px) {
    .delimeter-col {
        display: none;
    }

    .acc-box {
        width:100vw;
    }
}