.ng-content {
    position: absolute;
    background-color: ghostwhite;
    overflow: scroll;
    border-style: outset;
    border-color: lightgray;
}

.ng-content p.main {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3vh;
    color: #1e0839;
    margin-left: 2vw;
}
